.gameplay-section {
  background: #010101;

  @include media(desktop) {
  }
}

.gameplay-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 314px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/gameplay/gameplay-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/gameplay/gameplay-bg-desk.jpg);
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-title {
  color: #f0cc3a;

  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  max-width: 448px;
  margin-left: auto;

  @include media(desktop) {
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
  }
}

.gameplay-list-item {
  @include media(desktop) {
  }
}

.gameplay-item-title {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #56a0f8;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.gameplay-item-text {
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fefefe;

  @include media(desktop) {
    font-size: 18px;
  }
}
