<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Features</h2>
      <div class="features-content-wrapper">
        <ul class="features-list">
          <li class="features-list-item">
            <h3 class="features-item-title">Living Terrain</h3>
            <p class="features-item-text">
              Draw paths that reshape snow, melt ice, or grow forests depending
              on your choices and the ever-changing seasons.
            </p>
          </li>
          <li class="features-list-item">
            <h3 class="features-item-title">Resource Wisdom</h3>
            <p class="features-item-text">
              You've got to manage your warmth, light, and energy - but if
              you're smart about your routes, you can make limited resources
              work for you.
            </p>
          </li>
          <li class="features-list-item">
            <h3 class="features-item-title">Aurora Puzzles</h3>
            <p class="features-item-text">
              Align constellations, reflect light with ice, and harness the
              northern lights to unlock blocked routes.
            </p>
          </li>
          <li class="features-list-item">
            <h3 class="features-item-title">Endless Discovery</h3>
            <p class="features-item-text">
              The world generates randomly but there are still these cool story
              spots. Each time I play feels different.
            </p>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/features/features-img-desk.png"
            media="(min-width: 1440px)"
            width="640"
            height="548" />
          <source
            srcset="./img/features/features-img-mob.png"
            width="343"
            height="294" />
          <img
            class="features-img"
            src="./img/features/features-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="294"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
