<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">Whisper Paths</h1>
        <p class="hero-subtitle">Whisper Through Illusions.</p>
        <p class="hero-text">
          You'll guide this little cube through these floating paths that kinda
          remind you of Monument Valley - it's all about shifting your
          perspective to find routes that weren't there before.
        </p>
        <a
          class="hero-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.KRISHKETAN.WHISPERPATHS&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
        >
          <img
            class="hero-playstore-img"
            src="./img/hero/playstore.png"
            alt="Logo"
            width="180"
            height="57"
        /></a>
      </div>
    </div>
  </div>
</section>
